name: Compile Typst and Release PDF
on:
  push:
    branches:
      - "*"
    tag:
      - "v*"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Typst
        uses: typst-community/setup-typst@v4

      - name: Setup just
        uses: extractions/setup-just@v3
      - name: Compile PDF
        run: just compile

      - name: Create GitHub Release with PDF
        uses: softprops/action-gh-release@v2
        with:
          files: resume.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

